lxml
neo4j
requests
tqdm
fastapi
uvicorn[standard]
python-dotenv
pydantic-settings
sentence-transformers
langchain
langchain-community
langchain-groq
langchain-neo4j
langchain-huggingface
numpy
gunicorn